.organic-breadcrumb {
    margin-bottom: 50px !important;
}

#alert-message {
    margin: 0px 50px;
    display:none;
    opacity: 1;
}

.div-form {
    padding-left: calc(100% / 3);
}

.div-buttons {
    width: 100%;
    text-align: center;
}

.form-control{
    font-size: initial !important;
}