.content {
    max-width: 100% !important;
    margin: 5% !important;
}

.x_title > h2 {
    margin-top: 10px !important;
}

.div-buttons {
    padding-top: 20px;
}

.btn{
    font-size: inherit !important;
}


